:root {
  --accent: 3, 102, 214;
  --link-colour: 48, 144, 255;
}
:root {
  --slate-version: "Slate 1.1.6";
  --border-radius: 3px;
  --button-border-radius: 2px;
  --accent-solid: rgba(var(--accent), 1);
  --bd-blue: var(--accent-solid);
  --bd-blue-hover: var(--accent-solid);
  --noasw-padding: calc(var(--container, 0) - 4px);
  --noasw-base: var(--container, 72px);
  --noasw-channel-header: var(--container, 0px);
  --spacing-third: calc(var(--spacing) / 3);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing: 10px;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-size-xsm: 9px;
  --font-size-sm: 11px;
  --font-size: 12px;
  --font-size-md: 14px;
  --font-size-lg: 28px;
  --font-size-xl: 32px;
  --font-size-xxl: 42px;
  --line-height-sm: 1;
  --line-height: 1.5;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --titlebar-height: 28px;
  --win32-close-background-hover: #e81123;
  --win32-close-background-active: #bf0f1d;
  --toolbar-height: 50px;
  --toolbar-text-normal: #d1d5da;
  --toolbar-text-muted: #959da5;
  --toolbar-text-focus: #ffffff;
  --toolbar-search-background: #161a1d;
  --toolbar-search-border: var(--toolbar-border);
  --toolbar-background: #1d2125;
  --toolbar-background-hover: #2f363d;
  --toolbar-background-active: #444d56;
  --toolbar-background-alt: #24292e;
  --toolbar-border: #141414;
  --input-height: 25px;
  --item-height: 34px;
  --sidebar-width: 260px;
  --member-height: 42px;
  --channel-height: 32px;
  --avatar-size-xsm: 18px;
  --avatar-size-sm: 24px;
  --avatar-size: 28px;
  --avatar-size-lg: 45px;
  --avatar-size-xl: 64px;
  --backdrop: rgb(0 0 0 / 0.4);
  --elevation-1: 0 8px 24px rgba(0, 0, 0, 0.15);
  --elevation-2: 0 2px 7px rgba(12, 7, 7, 0.7);
  --status-green: 40, 167, 69;
  --status-yellow: 219, 171, 9;
  --status-red: 215, 58, 73;
  --status-purple: 89, 54, 149;
  --status-grey: 117, 128, 142;
  --discord-pink: 255, 115, 250;
  --discord-blurple: 114, 137, 218;
  --rs-small-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-width: 2px;
  --rs-avatar-shape: 5%;
}
.theme-dark,
html.theme-dark #app-mount .theme-light .root-1gCeng,
html.theme-dark .force-theme.theme-light {
  --base-border: #141414;
  --text-normal: #d1d5da;
  --text-muted: #959da5;
  --text-focus: #ffffff;
  --text-link: rgb(var(--link-colour));
  --background-light: #2f363d;
  --background: #24292e;
  --background-alt: #2a3036;
  --background-dark: #1d2125;
  --guilds-background: var(--background);
  --white: #ffffff;
  --scrollbar-background: rgb(255 255 255 / 0.1);
  --scrollbar-background-hover: rgb(255 255 255 / 0.2);
  --scrollbar-background-active: rgb(255 255 255 / 0.3);
  --background-modifier-hover: var(--background-light);
  --background-modifier-active: #444d56;
  --background-modifier-selected: var(--accent-solid);
  --syntax-blue: #79b8ff;
  --syntax-purple: #b392f0;
  --syntax-grey: #959da5;
  --syntax-grey-alt: #d1d5da;
  --syntax-orange: #ffab70;
  --syntax-green: #56b6c2;
}
.theme-light,
html.theme-light #app-mount .theme-light .root-1gCeng,
html.theme-light .force-theme.theme-light {
  --base-border: #e1e4e8;
  --secondary-border: #d1d5da;
  --text-normal: #24292e;
  --text-muted: #6a737d;
  --text-focus: #000000;
  --text-link: rgb(var(--link-colour));
  --background-light: #f6f8fa;
  --background-alt: #ffffff;
  --background: #ffffff;
  --background-dark: #ebeef1;
  --guilds-background: var(--background);
  --white: #ffffff;
  --scrollbar-background: rgb(0 0 0 / 0.3);
  --scrollbar-background-hover: rgb(0 0 0 / 0.4);
  --scrollbar-background-active: rgb(0 0 0 / 0.5);
  --background-modifier-hover: #f2f2f2;
  --background-modifier-active: #e5e5e5;
  --background-modifier-selected: var(--accent-solid);
  --syntax-blue: #79b8ff;
  --syntax-purple: #b392f0;
  --syntax-grey: #6a737d;
  --syntax-grey-alt: #24292e;
  --syntax-orange: #ffab70;
  --syntax-green: #56b6c2;
}
@keyframes modal {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
/*Palette Previewer*/
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}
body,
html,
#app-mount {
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent;
  width: 100%;
  height: 100%;
}
::placeholder,
body,
button,
input,
select,
textarea {
  font-family: var(--font-family-sans-serif);
  text-rendering: optimizeLegibility;
}
::selection {
  background: var(--accent-solid);
  color: var(--white);
}
::-webkit-input-placeholder {
  color: var(--text-muted);
}
#app-mount {
  .modal .modal-content,
  .chat .chat-content {
    &::-webkit-scrollbar {
      width: 4px;
      display: none;
      background: transparent !important;
    }
    &::-webkit-scrollbar-track {
      margin:0;
    }
    &::-webkit-scrollbar-track-piece {
      background: transparent;
      border-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-background);
      border-radius: 0;
      border-radius: var(--border-radius);
      border: none;
      &:hover {
        background-color: var(--scrollbar-background-hover);
      }
      &:active {
        background-color: var(--scrollbar-background-active);
      }
    }
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner {
      display: none !important;
    }
    &:hover {
      overflow: overlay !important;
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
}
a {
  color: var(--text-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#app-mount {
  display: flex;
  flex-direction: column;
  background: var(--background);
}
#app-mount * {
  box-sizing: border-box;
}
#app-mount #titlebar {
  height: var(--titlebar-height);
  background: var(--toolbar-background-alt);
  border-bottom: 1px solid var(--toolbar-border);
  color: var(--toolbar-text-normal);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  display: flex;
  align-items: center;
  padding: 0 var(--spacing);
  z-index: 11;
  -webkit-app-region: drag;
}
#app-mount .base {
  display: flex;
  flex-grow: 1;
  position: relative;
}
#app-mount .base .guilds {
  background: var(--background);
  width: 54px;
  height: 100%;
  border-right: 1px solid var(--base-border);
  flex-shrink: 0;
}
#app-mount .guilds .guild {
  height: 35px;
  width: 35px;
  background: var(--background-light);
  border-radius: var(--border-radius);
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  color: var(--text-normal);
  font-weight: var(--font-weight-normal);
}
#app-mount .guilds .guild.selected {
  background: var(--accent-solid);
  color: var(--white);
}
#app-mount .base .sidebar {
  background: var(--background);
  width: var(--sidebar-width);
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
#app-mount .base .sidebar.channels {
  border-right: 1px solid var(--base-border);
}
#app-mount .base .sidebar.members {
  border-left: 1px solid var(--base-border);
}
#app-mount .base .chat {
  background: var(--background-alt);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  max-height:calc(100vh - var(--titlebar-height) - var(--toolbar-height));
}
#app-mount .base .chat-content {
  display: flex;
  flex-direction: column;
  overflow:hidden scroll;
  height:calc(100vh - var(--titlebar-height) - var(--toolbar-height) - 50px);
}
#app-mount .base .chat input {
  border-radius: var(--border-radius);
  background: var(--background);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  border: 1px solid var(--base-border);
  color: var(--text-normal);
  transition: none;
  padding: 0 var(--spacing-half);
  height: var(--input-height);
  line-height: 24px;
  box-sizing: border-box;
  cursor: text;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}
#app-mount .base .chat input:focus {
  outline: none;
  border: 1px solid var(--accent-solid);
  box-shadow: 0 0 0 2px rgba(var(--accent), 0.25);
}
.chat .message {
  padding: var(--spacing);
  border-top: 1px solid var(--base-border);
  margin-top:auto;
  display: flex;
  user-select: text;
}
#app-mount .chat .message .avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
}
#app-mount .chat .avatar {
  transition: 150ms ease border-color;
}
#app-mount .chat .avatar:hover {
  border-color: var(--accent-solid);
}
.message .message-header {
  display: flex;
  align-items: center;
}
.message .message-header .username {
  font-size: var(--font-size);
  color: var(--text-normal);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  margin: 0;
  user-select: text;
  cursor: pointer;
}
.message .message-header .username:hover {
  text-decoration: underline;
}
.message .message-header .timestamp-cozy {
  color: var(--text-muted);
  font-size: var(--font-size-xsm);
  margin-left: var(--spacing-half);
  font-weight: var(--font-weight-semibold);
  height: auto;
  line-height: normal;
  top: var(--spacing-third);
  user-select: text;
  cursor: default;
}
.message .markup {
  font-size: var(--font-size);
  margin-left: 0;
  padding-left: 0;
  color: var(--text-normal);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
  cursor: text;
}
#app-mount .base .chat-textarea,
#app-mount .base .channels-panel {
  height: 50px;
  width: 100%;
  background: var(--background-light);
  border-top: 1px solid var(--base-border);
  display: flex;
  align-items: center;
  flex-shrink:0;
  padding: 0 var(--spacing);
}
#app-mount .base .channels-panel .panel-controls {
  width: 100%;
  background: var(--background);
  border-radius: var(--border-radius);
  border: 1px solid var(--base-border);
  height: var(--input-height);
  display: flex;
}
.panel-controls .panel-control {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  flex: 1;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
}
.panel-controls .panel-control:after {
  content: "";
  width: 12px;
  height: 12px;
  background: currentColor;
  position: relative;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' class='octicon' height='64' role='img' viewBox='0 0 14 16' width='56' style='display:inline-block;fill:currentColor;user-select:none;vertical-align:middle'%3E%3Cpath fill-rule='evenodd' d='M14 8.76v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45L7.77 1h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.22v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.74v.02zm-7 2.23c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z'%3E%3C/path%3E%3C/svg%3E")
    center/cover no-repeat;
}
.panel-controls .panel-control:hover {
  background: var(--accent-solid);
  color: var(--white);
}
.panel-controls .panel-control:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.panel-controls .panel-control:last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
#app-mount .base .container-content {
  flex-grow: 1;
  width: 100%;
}
#app-mount .sidebar .category {
  color: var(--text-normal);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  height: 36px;
  padding: var(--spacing);
  display: flex;
  align-items: center;
  position: relative;
}
#app-mount .sidebar.channels .category {
  padding-left: 20px;
}
#app-mount .sidebar .category .category-icon {
  fill: currentColor;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 4px;
}
#app-mount .sidebar .sidebar-entry {
  display: flex;
  align-items: center;
  color: var(--text-normal);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  height: var(--item-height);
  padding: 0 var(--spacing);
}
#app-mount .sidebar .sidebar-entry.selected {
  background: var(--accent-solid);
  color: var(--white);
}
#app-mount .sidebar .sidebar-entry.hover,
#app-mount .sidebar.members .sidebar-entry:hover {
  background: var(--background-modifier-hover);
}
#app-mount .sidebar .sidebar-entry.active,
#app-mount .sidebar.members .sidebar-entry:active {
  background: var(--background-modifier-active);
}
#app-mount .sidebar .sidebar-entry.muted {
  opacity: 0.5;
}
#app-mount .sidebar .sidebar-entry .channel-icon path {
  fill: inherit;
}
#app-mount .sidebar .sidebar-entry .channel-icon {
  width: auto;
  height: 14px;
  margin-right: var(--spacing-half);
  fill: var(--text-muted);
}
#app-mount .sidebar .sidebar-entry.selected .channel-icon {
  fill: currentColor;
}
#app-mount .sidebar.members .sidebar-entry {
  height: var(--member-height);
  padding: 0 calc(var(--spacing) + 5px);
}
#app-mount .avatar {
  height: var(--avatar-size-sm);
  width: var(--avatar-size-sm);
  margin-right: var(--spacing);
  border-radius: calc(var(--border-radius) / 1.5);
  border: 1px solid var(--base-border);
  background: var(--background);
  position: relative;
}
#app-mount .avatar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-muted);
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' class='octicon' height='64' role='img' viewBox='0 0 12 16' width='48' style='display:inline-block;fill:currentColor;user-select:none;vertical-align:middle'%3E%3Cpath fill-rule='evenodd' d='M12 14.002a.998.998 0 0 1-.998.998H1.001A1 1 0 0 1 0 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z'%3E%3C/path%3E%3C/svg%3E")
    center/50% no-repeat;
}
#app-mount #toolbar {
  height: var(--toolbar-height);
  background: var(--toolbar-background);
  border-bottom: 1px solid var(--toolbar-border);
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding:0;
}
#toolbar .channel-header {
  width: calc(54px + var(--sidebar-width));
}
#toolbar .chat-header {
  width: 230px;
}
#toolbar #toolbar-segment {
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--spacing);
  border-right: 1px solid var(--toolbar-border);
}
#toolbar #toolbar-segment:hover {
  background: var(--toolbar-background-hover);
}
#toolbar #toolbar-segment:hover h1 {
  color: var(--toolbar-text-focus);
}
#toolbar #toolbar-segment h1.name::before {
  content: "";
}
#toolbar #toolbar-segment h1.name {
  color: var(--toolbar-text-normal);
  font-size: var(--font-size);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#toolbar #toolbar-segment h1.name:before {
  display: block;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--toolbar-text-muted);
}
#toolbar #toolbar-segment.channel-header h1.name:before {
  content: "Current Server";
}
#toolbar #toolbar-segment.chat-header h1.name:before {
  content: "Current Channel";
}
#toolbar .search-bar {
  -webkit-appearance: none;
  border-radius: var(--border-radius);
  background: var(--toolbar-search-background);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  border: 1px solid var(--toolbar-search-border);
  color: var(--toolbar-text-normal);
  padding: 0 var(--spacing-half);
  height: var(--input-height);
  box-sizing: border-box;
  width: calc(var(--sidebar-width) / 1.35 - var(--spacing-double));
  position: absolute;
  right: var(--spacing);
  cursor: text;
}
#toolbar .search-bar:focus {
  outline: none;
  border: 1px solid var(--accent-solid);
  box-shadow: 0 0 0 2px rgba(var(--accent), 0.25);
}
#layer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3001;
  display: flex;
  align-items: center;
  pointer-events:none;
}
#layer-container .modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events:all;
  background-color: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--elevation-1);
  border: 1px solid var(--base-border);
  min-width: 400px;
  max-width: 600px;
  max-height: 88vh;
  padding: 0;
  overflow: hidden;
}
.modal .modal-header {
  width: 100%;
  height: 50px;
  padding: var(--spacing-double);
  color: var(--text-normal);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  border-bottom: 1px solid var(--base-border);
  display: flex;
  align-items: center;
  touch-action: none;
  background:transparent;
}
.modal .modal-footer {
  background: var(--background);
  box-shadow: none;
  border-top: 1px solid var(--base-border);
  padding: var(--spacing-double);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal .modal-content {
  padding: var(--spacing-double);
  width: 100%;
  max-height:400px;
  overflow:auto;
}
.palette-container .palette-preview {
  width:100%;
  height:50px;
  min-height:50px;
}
.palette-container {
  padding:var(--spacing);
  background:var(--background-alt);
  border-radius:var(--border-radius);
  border:1px solid var(--base-border);
  margin-bottom:var(--spacing);
  &:last-child {
    margin:0;
  }
}
.palette-container.active {
  border: 1px solid var(--accent-solid);
  box-shadow: 0 0 0 3px rgba(var(--accent), 0.25);
}
.palette-info .palette-title  {
  display:block;
  position:relative;
  margin-bottom:var(--spacing);
  font-size:var(--font-size-md);
  font-weight:var(--font-weight-semibold);
  color:var(--text-normal);
}