:root {
  --accent: 3, 102, 214;
  --link-colour: 0, 186, 255;
  --font-size: 12px;
  --server-icon-size: 35px;
  --server-icon-spacing: 8px;
  --server-container-padding: 10px;
}

.theme-light {
  --base-border: #e1e4e8;
  --secondary-border-color: #d1d5da;
  --text-normal: #24292e;
  --text-muted: #6a737d;
  --text-focus: #000000;
  --text-opacity: 0, 0, 0;
  --background-light: #f6f8fa;
  --background-alt: #ffffff;
  --background: #ffffff;
  --background-dark: #ebeef1;
  --white: #ffffff;
  --input-height: 25px;
  --checkbox-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  --userpopout-button-hover: rgba(0, 0, 0, 0.05);
  --scrollbar-background: rgb(0 0 0 / 0.3);
  --scrollbar-background-hover: rgb(0 0 0 / 0.4);
  --scrollbar-background-active: rgb(0 0 0 / 0.5);
  --background-modifier-hover: #f2f2f2;
  --background-modifier-active: #e5e5e5;
  --background-modifier-selected: var(--accent-solid);
  --syntax-blue: #79b8ff;
  --syntax-purple: #b392f0;
  --syntax-grey: #6a737d;
  --syntax-grey-alt: #24292e;
  --syntax-orange: #ffab70;
  --syntax-green: #56b6c2;
}

.theme-dark {
  --base-border: #141414;
  --text-normal: #d1d5da;
  --text-muted: #959da5;
  --text-focus: #ffffff;
  --text-opacity: 255, 255, 255;
  --background-light: #2f363d;
  --background-gradient-light: #3a424b;
  --background: #24292e;
  --background-alt: #2a3036;
  --background-dark: #1d2125;
  --white: #ffffff;
  --input-height: 25px;
  --userpopout-button-hover: rgba(255, 255, 255, 0.03);
  --scrollbar-background: rgb(255 255 255 / 0.1);
  --scrollbar-background-hover: rgb(255 255 255 / 0.2);
  --scrollbar-background-active: rgb(255 255 255 / 0.3);
  --background-modifier-hover: var(--background-light);
  --background-modifier-active: #444d56;
  --background-modifier-selected: var(--accent-solid);
  --syntax-blue: #79b8ff;
  --syntax-purple: #b392f0;
  --syntax-grey: #959da5;
  --syntax-grey-alt: #d1d5da;
  --syntax-orange: #ffab70;
  --syntax-green: #56b6c2;
}

:root {
  --slate-version: "Slate 1.0.9";
  --border-radius: 3px;
  --button-border-radius: 2px;
  --accent-solid: rgba(var(--accent), 1);
  --bd-blue: var(--accent-solid);
  --bd-blue-hover: rgb(var(--accent));
  --text-link: rgb(var(--link-colour, var(--accent)));
  --noasw-base: var(--container, 72px);
  --noasw-channel-header: var(--container, 0px);
  --spacing-third: calc(var(--spacing) / 3);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-sm: 8px;
  --spacing: 10px;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-size-xsm:13px;
  --font-size-sm: 14px;
  --font-size: 16px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 48px;
  --font-size-xxl: 64px;
  --line-height-sm: 1;
  --line-height: 1.5;
  --toolbar-background: #1d2125;
  --toolbar-background-hover: #2f363d;
  --toolbar-background-alt: #24292e;
  --toolbar-border: #141414;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --titlebar-height: 28px;
  --toolbar-height: 50px;
  --toolbar-text-normal: #d1d5da;
  --toolbar-text-muted: #959da5;
  --toolbar-text-focus: #ffffff;
  --toolbar-search-background: #1a1b1e;
  --toolbar-search-border: #141414;
  --item-height: 34px;
  --sidebar-width: 260px;
  --avatar-size-xsm: 18px;
  --avatar-size-sm: 24px;
  --avatar-size: 28px;
  --avatar-size-lg: 45px;
  --avatar-size-xl: 64px;
  --backdrop: rgb(0 0 0 / 0.4);
  --elevation-1: 0 8px 24px rgba(0, 0, 0, 0.15);
  --elevation-2: 0 2px 7px rgba(12, 7, 7, 0.7);
  --status-green: 40, 167, 69;
  --status-yellow: 219, 171, 9;
  --status-red: 215, 58, 73;
  --status-purple: 89, 54, 149;
  --status-grey: 117, 128, 142;
  --tip-box-background: rgba(3, 102, 214, 0.06);
  --tip-box-border: #c8e1ff;
}

@keyframes modal {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  1005 {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contextMenu {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: none;
    opacity: .5;
  }
  50% {
    transform: translateY(-15%);
    opacity: .3;
  }
  100% {
    transform: none;
    opacity: .5;
  }
}

/* Global styles */
*{outline:none;}
#scroller {
  overflow:auto;
  max-height:calc(100vh - var(--toolbar-height));
}
.background-container {
  display:block;
  background:url('starfield.svg') center/cover, linear-gradient(var(--background-light), var(--background-dark));
}
header {
  height:var(--toolbar-height);
  position:fixed;
  width:100%;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 var(--spacing);
  background:var(--toolbar-background);
  border-bottom:1px solid var(--toolbar-border);
}
button {
  outline:none;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: var(--font-family-sans-serif);
}
h1 {
  margin: 0;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-light);
  color: var(--text-normal);
  cursor:text;
}
h2 {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
  color: var(--text-normal);
  cursor:text;
}
p {
  margin: 0;
  font-size: var(--font-size);
  color: var(--text-muted);
  cursor:text;
}
input[type="text"] {
  border-radius: var(--border-radius);
  background: var(--background-dark);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  border: 1px solid var(--base-border);
  color: var(--text-normal);
  transition: none;
  padding: 0 var(--spacing-half);
  height: var(--input-height);
  line-height: 24px;
  box-sizing: border-box;
  cursor:text;
}
input[type="text"]:focus {
  border: 1px solid var(--accent-solid);
  box-shadow: 0 0 0 2px rgba(var(--accent), 0.25);
}
::-webkit-input-placeholder {
  color:var(--text-muted);
}
.button {
  cursor: default;
  text-decoration: none;
  user-select: none;
  line-height: normal;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  padding: var(--spacing-half) var(--spacing-double);
  border-radius: var(--button-border-radius);
  display: flex;
  align-items: center;
  text-align:center;
  position: relative;
}
.button.primary {
  background: rgb(var(--accent));
  color: var(--white);
  border: 1px solid rgb(var(--accent));
}
.button.primary:hover {
  box-shadow: inset 0 0 0 100vmax rgba(255,255,255,0.1);
}
.button.primary:focus {
  box-shadow: 0 0 0 2px rgba(var(--accent), 0.25), inset 0 0 0 100vmax rgba(255,255,255,0.1);
}
.button.secondary {
  background: var(--background-light);
  border: 1px solid var(--base-border);
  color: var(--text-normal);
}
.button.secondary:hover {
  border-color: currentColor;
}
.button.secondary:focus {
  border-color: currentColor;
  box-shadow: 0 0 0 1px currentColor;
}
.fadeIn {
  animation: fadeIn .5s ease;
}

/* Header */
header nav {
  display:flex;
  align-items:center;
}
header nav a {
  color:var(--toolbar-text-normal);
  font-size:var(--font-size-sm);
  margin-right:var(--spacing-double);
  font-weight:var(--font-weight-normal);
  text-decoration:none;
}
header nav a:hover {
  text-decoration:underline;
}
header h2 {
  font-size:var(--font-size-lg);
  font-weight:var(--font-weight-light);
  color:var(--toolbar-text-normal); 
  line-height:normal;
  margin:0;
  margin-left:var(--spacing-half);
}

/* Container */
#container {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  overflow:hidden;
}

/* Main container */
#container.first {
  height: calc(100vh - var(--toolbar-height));
}
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main {
  flex: 1;
  padding: calc(var(--spacing) * 6);
}
.description {
  max-width: 550px;
  margin: 10px 0 20px;
}
.btns {
  display: flex;
  align-items: stretch;
}
.btns .primary {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.dropdown {
  position: relative;
  margin-right: var(--spacing);
  display: flex;
}
.dropdown-btn {
  height: 100%;
  padding: 0 var(--spacing-half);
  background: rgb(var(--accent));
  border: none;
  border-left: 1px solid var(--base-border);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  color: var(--white);
}
.dropdown-btn svg {
  pointer-events: none;
}
.dropdown-btn.dropdown-visible svg {
  transform: rotate(180deg);
}
.dropdown-btn:hover {
  box-shadow: inset 0 0 0 100vmax rgba(255,255,255,0.1);
}
.dropdown-btn:focus {
  box-shadow: 0 0 0 2px rgba(var(--accent), 0.25), inset 0 0 0 100vmax rgba(255,255,255,0.1);
}
.dropdown-menu {
  display: none;
  position: absolute;
  background: var(--background);
  border: 1px solid var(--base-border);
  top: 40px;
  z-index: 2;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  animation: contextMenu 350ms ease;
}
.dropdown-menu.visible {
  display: block;
}
.dropdown-item {
  padding: var(--spacing);
  font-size: var(--font-size-xsm);
  color: var(--text-normal);
  font-weight: var(--font-weight-normal);
  display: flex;
  text-decoration: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-item.soon {
  opacity: .5;
  pointer-events: none;
}
.dropdown-item.soon:after {
  content: "Soon";
  background: rgb(var(--accent));
  padding: var(--spacing-third) var(--spacing-half);
  font-size: 10px;
  color: var(--white);
  border-radius: var(--border-radius);
}
.dropdown-item:hover {
  background: var(--background-modifier-hover);
}
.dropdown-item:active {
  background: var(--background-modifier-active);
}

/* Preview */
.preview {
  width: 55vw;
  position: relative;
  right: -35%;
  z-index:100000;
}
.preview-img {
  box-shadow: 0 4px 8px rgba(0,0,0,0.35);
  display: block;
  width: 100%;
  user-select: none;
  transition: box-shadow .15s ease;
}
.preview-img:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.35);
}
.preview-visible .preview {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 100%;
  background: var(--backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.preview-visible .preview-img {
  animation: modal 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 90vh;
  width: auto;
}
.preview-visible #section.second {
  z-index:-1;
}

#container.first {
  z-index:1002;
}

/* Footer */
.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: var(--background-light);
  padding: 0 var(--spacing);
  height: 40px;
  border-top: 1px solid var(--base-border);
}
.footer p {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-xsm);
  color: var(--text-normal);
}
.footer a {
  color: rgb(var(--accent));
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
#theme {
  -webkit-appearance: none;
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: var(--border-radius);
  background: var(--accent-solid);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 0;
}
#theme:focus {
  box-shadow: 0 0 0 3px rgba(var(--accent), 0.25), inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
}

/* Deco art */
#deco {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
}
#deco > div {
  position: absolute;
}
.deco-1 {
  display: block;
  width: 20%;
  height: 25%;
  bottom: 5%;
  opacity: .5;
  animation-delay: 2s;
  animation: float 15s ease infinite forwards;
  background: url('https://discordstyles.github.io/Slate/assets/illustrations/12.svg') center/contain no-repeat;
}
.deco-2 {
  display: block;
  position: absolute;
  width: 45%;
  height: 40%;
  top:5%;
  z-index: 0;
  opacity: .5;
  background: url('https://discordstyles.github.io/Slate/assets/illustrations/9.svg') center/contain no-repeat;
}
.deco-3 {
  display: block;
  bottom: 5%;
  right: 0;
  width: 30%;
  height: 60%;
  z-index: 0;
  opacity: .5;
  background: url('https://discordstyles.github.io/Slate/assets/illustrations/11.svg') center/contain no-repeat;
}

/* Theme specific classes */
/* Dark theme */
.theme-dark .light-enabled {
  display: none;
}

/* Light theme */
.theme-light .dark-enabled {
  display: none;
}
.theme-light .button.secondary:hover {
  background: var(--background);
  border: 1px solid var(--secondary-border-color);
}
.theme-light .button.secondary:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05) !important;
  border: 1px solid var(--secondary-border-color) !important;
}

/*Secondary Container*/
#container.second {
  z-index:1001;
  flex-direction:column;
  align-items:center;
  background:var(--background);
  padding:var(--spacing-triple);
  border-top:1px solid var(--base-border);
}
#feature-showcase h2 {
  margin-bottom:calc(var(--spacing) * 4);
}
#feature-showcase {
  padding:var(--spacing-triple);
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#feature-view {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:50%;
}
#feature {
  margin-bottom:calc(var(--spacing) * 5);
  flex-grow:1;
  display:flex;
  align-items:center;
  color:var(--text-muted);
}
#feature svg {
  height:72px;
  width:auto;
}
#feature .feature-title {
  margin-top:0;
  margin-bottom:var(--spacing-half);
  font-size:28px;
  color:var(--text-normal);
  font-weight:var(--font-weight-light);
}
#feature .feature-description {
  font-size:var(--font-size-sm);
  color:var(--text-muted);
  font-weight:var(--font-weight-normal);
  margin:0;
  line-height:1.5;
}
#feature .feature-content {
  margin-left:var(--spacing-double);
  margin-right:0;
}
#feature:nth-child(even) .feature-content {
  order:-1;
  margin-right:var(--spacing-double);
  margin-left:0;
  flex-shrink:1;
}
#feature .feature-img {
  width:300px;
  height:100%;
  min-height:100px;
  border-radius:var(--border-radius);
  border:1px solid var(--base-border);
  background:var(--background-alt);
  flex-shrink:0;
  position:relative;
  transition:150ms ease;
  display:flex;
  align-items:center;
  justify-content:center;
} 
#feature .feature-img:hover {
  box-shadow:var(--elevation-1);
}
#feature #palette-preview {
  display: flex;
  overflow:hidden;
  align-items:unset;
  justify-content:unset;
}
#feature #palette-preview .palette-color {
  flex-grow:1;
}
#feature #palette-preview .palette-color-1 {
  background:var(--accent-solid);
}
#feature #palette-preview .palette-color-2 {
  background:var(--text-normal);
}
#feature #palette-preview .palette-color-3 {
  background:var(--background-dark);
}
#feature #palette-preview .palette-color-4 {
  background:var(--background);
}
#feature #controls-preview {
  padding:var(--spacing);
  display:flex;
  justify-content:center;
  align-items:center;
}
#feature #controls-preview h2,
#feature #controls-preview input,
#feature #controls-preview button.primary {
  margin-bottom:var(--spacing-half);
}
#feature #controls-preview .control-preview-column {
  margin-right:var(--spacing-double);
  flex-grow:1;
  position:relative;
}
#feature #controls-preview .control-preview-column:last-child {
  margin:0;
}
#feature #controls-preview input[type="text"] {
  width:100%;
}
#feature #optimized::after,
#feature #compatible::after {
  content:'';
  top:0;
  left:0;
  width:100%;
  height:100%;
  position:absolute;
  background:var(--text-muted);
  opacity:.25;
  -webkit-mask: url('https://discordstyles.github.io/Slate/assets/illustrations/9.svg') center/cover no-repeat;
}
#feature #compatible svg {
  width:50px;
  height:50px;
  margin:0 var(--spacing);
}

/* Cards*/
#card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:var(--spacing-double);
}
#card-container .card {
  background:var(--background-alt);
  border:1px solid var(--base-border);
  padding:var(--spacing);
  border-radius:var(--border-radius);
  padding:var(--spacing-double);
  box-sizing:border-box;
  transition:150ms ease;
}
#card-container .card:hover {
  box-shadow:var(--elevation-1);
}
.card .card-image {
  height:100px;
  width:100px;
  color:var(--text-muted);
}